
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


.container {
    display: flex;
    min-height: 5000px;
    font-family: Georgia, 'Times New Roman', serif;
}


.lewo {
    width: 260px;
    background-color: #2f3f50;
    color: white;
    padding: 25px 20px;
}

.lewo h2 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: bold;
}

.lewo a {
    display: block;
    color: white;
    text-decoration: underline;
    margin-bottom: 12px;
    font-size: 16px;
}


.Main {
    flex: 1;
    background-color: #e6e6e6;
    padding: 40px;
}


.Main h1 {
    margin-bottom: 30px;
    font-size: 28px;
}


.gallery {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    position: relative;
}


.tekst {
    border: 1px solid #bfbfbf;
    padding: 35px;
    font-size: 18px;
    color: #222;
}

.gallery img:hover {
    filter: brightness(30%);
}

.zdjecie {
    position: relative;
    width: 32%;
}

.zdjecie img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
    transition: 0.8s;
}

.zdjecie span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    opacity: 0;
    transition: 2.3s;
}

.zdjecie:hover span {
    opacity: 1;
}

.scroll-buttons {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.scroll-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    background-color: #e6e6e6;
}